.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;
  height: 300px;
}

.item {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
    background-color: rgba(14, 76, 64, 0.625);
}